ENVIRONMENT=development
MONGODB_URI=mongodb://mongo:27017
MONGODB_DEV_DB=omniverse_geo_dev
MONGODB_TEST_DB=omniverse_geo_test
MONGODB_PROD_DB=omniverse_geo_prod
SPACETRACK_USER=
SPACETRACK_PASS=
CORS_ORIGINS=http://localhost:19010
VITE_API_URL=http://localhost:19011
VITE_CESIUM_ION_TOKEN=
NVIDIA_VISIBLE_DEVICES=all
NVIDIA_DRIVER_CAPABILITIES=compute,utility
